/********************************
  Entire container
********************************/
.header {
  font-size: 2.25rem;
  color: var(--text);
  text-shadow: 0 0 1px white;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}


/********************************
  Navgiation
********************************/
.nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.nav a {
  display: inline-block;
}


/********************************
  All Sections of header
********************************/
.leftSection,
.middleSection,
.rightSection {
  width: 60vw;
  vertical-align: bottom;
}


/********************************
  Left and Right Sections
********************************/
.leftSection,
.rightSection {
  width: 20vw;
}


/********************************
  Middle and Right Sections
********************************/
.middleSection,
.rightSection {
  height: 3.25rem;
}
.middleSection a:hover:after,
.rightSection a:hover:after {
  content: '';
  display: block;
  border: 1px solid var(--text);
}


/********************************
  Left Section of Header
********************************/
.leftSection {
  font-size: 5rem;
  margin-left: 2rem;
}


/********************************
  Middle Section of Header
********************************/
.middleSection {
  text-align: center;
}
.middleSection a {
  margin-right: 5rem;
}
.middleSection a:last-child {
  margin-right: 0;
}


/********************************
  Right Section of Header
********************************/
.rightSection {
  text-align: right;
}
.rightSection a {
  margin-right: 2rem;
}