.parent {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 5rem auto 0 auto;
}
.item {
  font-size: 1.5rem;
  height: 20rem;
  width: 20rem;
  text-align: center;
  line-height: 20rem;
  background-color: var(--white);
  margin: 1.75rem;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,0.15);
}
