/********************************
  Entire container
********************************/
.parent {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 4rem auto 0 auto;
}


/********************************
  Each element found within the
  flex-box parent
********************************/
.item {
  font-size: 1.5rem;
  height: 15rem;
  width: 15rem;
  text-align: center;
  line-height: 15rem;
  background-color: var(--white);
  margin: 1.75rem;
  box-shadow: 0 0 .25rem 0 rgba(0,0,0,0.25);
}
